.flex{
width: 1500px;
height: 300px;
display: flex;
margin: 0 auto;
margin-top: 300px;
background-color: rgb(235, 200, 169);
justify-content: space-evenly;
align-items: center;

}

.item{
display: flex;
background-color: red;
width: 100px;
height: 100px;
transition: 0.5s;
;}

.item:hover{
border-radius: 50%;
background-color: gray;
transition: 0.5s;


}