@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items: center;
}

.main{
width:1180px;
height:280px;
display:flex;

gap:35px;
}
.d1{
width:590px;
height:280px;

display:flex;
justify-content: space-between;
}

.d2{
width:590px;
height:280px;

display:flex;
justify-content: space-between;
}

.first{
width:271px;
height:280px;

flex-direction: column;
display: flex;
}

.second{
width:271px;
height:280px;

flex-direction: column;
display: flex;
}

.top{
width:271px;
height:160px;

}

.bottom{
width:271px;
height:120px;

}

img{
width:160px;
height:160px;
border-radius: 160px;
}

h2{
font-family: "Inter", sans-serif;
font-style:
font-weight: 700;
font-size: 20px;
line-height: 120%;
color: #161543;
}

p{
margin-top: -10px;
font-family: "Inter", sans-serif;
font-style: Regular
font-weight: 400;
font-size: 16px;
line-height: 140%;
paragraph-spacing: 8px;
color: #161543;
color: #7687A1;
}