@media screen and (max-width: 480px){

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
width:100vw;
height:100vh;
display:flex;
justify-content:center;
align-items: center;
}

.main{
position: absolute;
left: 28px;
margin-left: auto;
margin-right: auto;
width:343px;
height:100vh;
display:flex;
flex-direction:column;

}
.d1{
width:343px;
height:488px;
gap: 40px;
display:flex;
justify-content: space-between;
flex-direction:column;
}

.d2{
width:343px;
height:488px;
gap: 40px;
display:flex;
justify-content: space-between;
flex-direction:column;
}

.first{
width:343px;
height:220px;

flex-direction: column;
display: flex;
}

.second{
width:343px;
height:220px;

flex-direction: column;
display: flex;
}

.top{
width:343px;
height:128px;

}

.bottom{
width:343px;
height:92px;

}

img{
width:128px;
height:128px;
border-radius: 160px;
}

h2{
font-family: "Inter", sans-serif;
font-style:
font-weight: 700;
font-size: 20px;
line-height: 120%;
color: #161543;
}

p{
margin-top: -10px;
font-family: "Inter", sans-serif;
font-style: Regular
font-weight: 400;
font-size: 16px;
line-height: 140%;
paragraph-spacing: 8px;
color: #161543;
color: #7687A1;
}

}